.form-page {
}

.form-field {
  margin-top: 2rem;
  height: 90vh;
  background-color: #dff5f2;
}

.frm {
  margin-top: 10rem;
  margin-left: 27rem;
}

.fld {
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid #035d5d;
  color: #515151;
  font-size: large;
  padding-left: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.lbl {
  font-size: 1.3rem;
  text-align: left;
}

.legend {
  font-size: 2rem;
}

.label {
  margin-top: -2rem;
}

.back {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  background-color: #035d5d;
  color: #ffffff;
  width: 12rem;
  height: 3rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: large;
  display: flex;
  justify-content: center;
  margin-left: 36rem;
  margin-top: 1rem;
}
